.debug {
  border: 1px solid red;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  width: 82%;
  min-width: 21em;
  text-align: left;
}

.centered {
  margin: 0 auto;
  text-align: center;
}

.hidden {
  display: none;
}

.small {
  font-size: 75%;
}

#flash-div {
  height: 3rem;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body li {
  list-style: none;
  margin: .5em 0;
}


/****************************************
Forms
****************************************/
.form-div {
  margin: 1em 0;
}

/***************************
Side Menu
****************************/
#menu {
  background: #222;
}

#menu .pure-menu-selected,
#menu .pure-menu-heading {
    background: #e6c12e;
}

#menu .pure-menu-selected a {
    color: #fff;
}

#menu .pure-menu-heading {
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -.075em;
    color: #333;
    margin: 0;
    text-transform: none;
}
