.debug {
  border: 1px solid red;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  width: 82%;
  min-width: 21em;
  text-align: left;
}

.centered {
  margin: 0 auto;
  text-align: center;
}

.small {
  font-size: 75%;
}

#flash-div {
  height: 3rem;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body li {
  list-style: none;
  margin: .5em 0;
}


/****************************************
Forms
****************************************/
.form-div {
  margin: 1em 0;
}

/***************************
Side Menu
****************************/
#menu {
  background: #222;
}

#menu .pure-menu-selected,
#menu .pure-menu-heading {
    background: #e6c12e;
}

#menu .pure-menu-selected a {
    color: #fff;
}

#menu .pure-menu-heading {
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -.075em;
    color: #333;
    margin: 0;
    text-transform: none;
}

/****************************************
Study Deck Page
****************************************/

#study-console {
  min-height: 15rem;
  border: 1px solid #555;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: .25rem;
  margin-top: 1rem;
  background-color: #fffffa;
  box-shadow: inset 0 0 .5rem #bbb;
}

#control-q {
  padding:1rem;
}

#card-a {
  /*display: none;*/
  padding:1rem;
}

#card-message {
  margin-top: 4rem;
  /*display: none;*/
}

#control-console {
  margin-top: 1.5rem;
}

#control-a {
  /*display: none;*/
}

#card-control-console {
  /*display: none;*/
  margin-top: 1rem;
}

#card-control-console a {
  color: #666;
  text-decoration: none;
}

#card-control-console a:hover {
  color: #666;
  background-color: inherit;
  text-decoration: underline;
}

#easy-card-button,
#good-card-button,
#retry-card-button,
#missed-card-button {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#missed-card-button {
  background: #aa3939;
}

#retry-card-button {
  background: #aa6c39;
}

#good-card-button {
  background: #2d882d;
}

#easy-card-button {
  background: #226666;
}
