.debug {
  border: 1px solid red;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  width: 82%;
  min-width: 21em;
  text-align: left;
}

.centered {
  margin: 0 auto;
  text-align: center;
}

#flash-div {
  height: 3rem;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body li {
  list-style: none;
  margin: .5em 0;
}


/****************************************
Forms
****************************************/
.form-div {
  margin: 1em 0;
}

/***************************
Side Menu
****************************/
#menu {
  background: #222;
}

#menu .pure-menu-selected,
#menu .pure-menu-heading {
    background: #e6c12e;
}
    /*
    This styles a link within a selected menu item `<li>`.
    */
    #menu .pure-menu-selected a {
        color: #fff;
    }

#menu .pure-menu-heading {
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -.075em;
    color: #333;
    margin: 0;
    text-transform: none;
}

/****************************************
Splash Page
****************************************/
.splash-container {
  background: #e6c12e;
  width: 100%;
  height: 88%;
  top: 0;
  left: 0;
  margin: 0;
  position: fixed !important;
}

.splash {
  width: 80%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

.splash-head {
  font-size: 2.5em;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -.075em;
  color: #333;
  padding: 1rem 1.6rem;
}

.splash-subhead {
  color: #333;
}

.button {
  display: inline-block;
  background-color: inherit;
  border: 1px solid #333;
  border-radius: .3em;
  padding: .25em .75em;
}

  a.button {
    text-decoration: none;
  }

  a.button:visited {
    background-color: inherit;
    color: #333;
  }

  a.button:hover {
    background-color: inherit;
    color: #666;
  }

  a.button:active {
    background-color: #333;
    color: white;
  }

  .content-wrapper {
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: #fff;
  }

  .ribbon {
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .scroll-indicator {
    min-height: 8rem;
  }

  .l-box p {
    margin: 0 1.5em 0 0;
  }
