<div class="container">
  <h2>My Decks:</h2>
  <ul>
    <% @decks.each do |deck| %>
      <li><%= link_to deck.title, deck_path(deck) %></li>
    <% end %>

    <li><%= link_to "New Deck", new_deck_path %></li>
  </ul>
</div>
